fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-community
langchain-huggingface
faiss-cpu
pymupdf
sentence-transformers
langchain-openai
openai
langchain-google-genai
rank_bm25
langsmith
filelock
langgraph
langchain-groq
pyjwt
bcrypt
slowapi
ragas>=0.1.7
datasets>=2.18.0
pandas>=2.2.1
numpy
aiohttp

